<p>user-info works!</p>
<h2>Counter Check</h2>
<h3>{{count}}</h3>
<!-- <h3>0</h3> -->
<button (click)="Counter('plus')">Increment</button>
<button (click)="Counter('reset')">Reset</button>
<button (click)="Counter('minus')">Decrement</button>

<div class="container col-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>    
                <th>Status</th>
                <th>Credit Score</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let user of UserInfo">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.isActive ? 'Active':'De-Active'}}</td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar" [ngStyle]="{width:user.creditScore+'%'}">{{user.creditScore}}</div>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
</div>